.card-container {
    perspective: 3000;
}

.card {
    position: relative;
    color: white;
    text-align: center;
    max-width: 350px;
    min-width: 325px;
    height: 250px;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
}

.card-active {
    transform: rotateY(180deg);
}

.card:active {
    transform: rotateY(180deg);
}

.back {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    backface-visibility: hidden;
}

.example-card {
    width: 100%;
    backface-visibility: hidden;
}
.example-header-image {
    background: #1e282c;
}

@media screen and (max-width: 480px) {
    .card:hover {
        transform: rotateY(180deg);
    }
}