<section class="box">
    <app-nav-bar (ToggleMenuEvent)="sidenav.toggle()"></app-nav-bar>
    <md-sidenav-container class="canstar-sidenav-container">
            <md-sidenav #sidenav mode="side" opened="true">
                <md-nav-list>
                    <a md-list-item routerLink="/home" routerLinkActive="active"><md-icon>home</md-icon><span class="canstar-nav-spacer"></span> <span class="nav-title">Home</span></a>
                    <a md-list-item routerLink="/table-example" routerLinkActive="active"><md-icon>grid_on</md-icon><span class="canstar-nav-spacer"></span><span class="nav-title">Table</span></a>
                    <a md-list-item routerLink="/data-example" routerLinkActive="active"><md-icon>storage</md-icon><span class="canstar-nav-spacer"></span><span class="nav-title">Data Population</span></a>
                    <a md-list-item routerLink="/widget-example" routerLinkActive="active"><md-icon>view_compact</md-icon><span class="canstar-nav-spacer"></span><span class="nav-title">Widget</span></a>
                    <a md-list-item routerLink="/css-example" routerLinkActive="active"><md-icon>code</md-icon><span class="canstar-nav-spacer"></span><span class="nav-title">CSS</span></a>
                </md-nav-list>
            </md-sidenav>
            <div class="canstar-content">
                <!-- NGRouter -->
                <router-outlet></router-outlet>
            </div>
    </md-sidenav-container>
</section>