<md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>{{user.name}}</md-card-title>
      <md-card-subtitle>{{user.username}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        <b>Contact Details</b>
        <br /><br />
        <b>Phone #:</b> {{user.phone}}
        <br />
        <b>Email:</b> {{user.email}}
        <br />
        <b>Address</b>  {{address.suite}}, {{address.street}},  {{address.city}},  {{address.zipcode}}
      </p>
    </md-card-content>
  </md-card>
