/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0;
    height: 100%;
}

html, body, p, h1, h2, h3, h4, h5, h6, span, b, i, div { 
   font-family: Roboto,"Helvetica Neue",sans-serif
}